/*nav bar styling*/
nav{
    height:40px;

   /* display: flex;  
   background-color: rgb(7, 152, 84);
   justify-content:center;
   align-items: center; */
/* easy way */
   text-align: center;
   background-color:rgb(223, 214, 49);
   padding-top: 15px;

   /* to fix the nav bar on top */
   position:fixed;
   width: 98%;
   left: 0;/*  For margin: auto to center an element with absolute/fixed positioning, all sides must be defined. */
   right: 0; /*strick to the right*/
   top:0;/*stick to the top */
   margin: auto;  
}
nav a{
   text-decoration: none;
   margin: 0px 10px 0px 10px; /*margin: top right bottom left;*/
   color:rgb(0, 4, 255);
}



footer{
    background-color: black;
    text-align: center;
    height: 50px;
    padding-top:10px;
    padding-bottom:20px;
    margin-top: 20px;
}
footer p{
    color:white;
    text-decoration: none;
    padding-left:10px;
    padding-right: 10px;
    font-size: 20px;
}

header{
    padding-top: 50px;
    height: 150px;
    background-color: greenyellow;
    width: 100%;
    text-align: center;
}
h1,h2,h3{
    text-align: center;
}
img{
    display: block;
    margin:auto;
}


.container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap when needed */
    justify-content: center;
    align-items: center;

}

.item {
    width: 20%; /* Ensures each div takes equal space */
    min-width: 250px; /*  Prevents the divs from shrinking too much. */
    text-align: center;
    border: 1px solid black;
    height:400px;
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;

}

.container img{
    height:200px;
    width:250px;
    max-width: 100%;  /*Ensures images don’t overflow their container.*/
}
.item iframe{
    height:200px;
    width:250px;
    max-width: 100%;  /*Ensures images don’t overflow their container.*/

}
video{
    display: block;
    margin: auto;
}
audio{
    display: block;
    margin: auto;
}

.profile-img{
    height:300px;
    width: auto;
}

form{
            
            
    border: 1px solid black;
   
    height:max-content;
    width:max-content ;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    background-color: bisque;
    box-shadow: 10px 10px 10px grey;
    
    
}
.box{
    margin: 10px;
}
button{
    display: block;
    margin: 0 auto;
    
}

.contact_details{
    text-align: center;
}
